<!DOCTYPE html>

    <html lang="en">
                
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <title>Produce</title>
            <meta name="description" content="Freshpep Store" />
            <meta name="keywords" content="Freshpep Store,Grocery store,fresh vegetables,organic,local," />
            <meta name="robots" content="INDEX,FOLLOW" />
            <link rel="icon" href="https://www.freshpep.com/media/favicon/stores/1/favicon.png" type="image/x-icon" />
            <link rel="shortcut icon" href="https://www.freshpep.com/media/favicon/stores/1/favicon.png" type="image/x-icon" />
            <link rel="stylesheet" type="text/css" href="https://www.freshpep.com/skin/frontend/wd/freshpep/css/styles.css?v=170302090953" media="all" />
            <link rel="stylesheet" type="text/css" href="https://www.freshpep.com/skin/frontend/base/default/css/widgets.css?v=170302090953" media="all" />
            <link rel="stylesheet" type="text/css" href="https://www.freshpep.com/skin/frontend/wd/freshpep/css/searchautocomplete.css?v=170302090953" media="all" />
            <link rel="stylesheet" type="text/css" href="https://www.freshpep.com/skin/frontend/base/default/css/searchautocomplete_custom.css?v=170302090953" media="all" />
            <link rel="stylesheet" type="text/css" href="https://www.freshpep.com/skin/frontend/wd/freshpep/css/amscroll.css?v=170302090953" media="all" />
            <link rel="stylesheet" type="text/css" href="https://www.freshpep.com/skin/frontend/wd/freshpep/css/amshopby.css?v=170302090953" media="all" />
            <link rel="stylesheet" type="text/css" href="https://www.freshpep.com/skin/frontend/base/default/css/digitalpianism/ajaxlogin/styles.css?v=170302090953" media="all" />
            <link rel="stylesheet" type="text/css" href="https://www.freshpep.com/skin/frontend/base/default/es_active_review_stars/jquery.rating.css?v=170302090953" media="all" />
            <link rel="stylesheet" type="text/css" href="https://www.freshpep.com/skin/frontend/wd/freshpep/css/certificate.css?v=170302090953" media="all" />
            <link rel="stylesheet" type="text/css" href="https://www.freshpep.com/skin/frontend/wd/freshpep/css/vendor.css?v=170302090953" media="all" />
            <link rel="stylesheet" type="text/css" href="https://www.freshpep.com/skin/frontend/wd/freshpep/css/chosen.css?v=170302090953" media="all" />
            <link rel="stylesheet" type="text/css" href="https://www.freshpep.com/skin/frontend/wd/freshpep/css/flexslider.css?v=170302090953" media="all"/>
            <link rel="stylesheet" type="text/css" href="https://www.freshpep.com/skin/frontend/wd/freshpep/css/print.css?v=170302090953" media="print" />
            <script type="text/javascript" src="https://www.freshpep.com/js/prototype/prototype.js"></script>
            <script type="text/javascript" src="https://www.freshpep.com/js/prototype/validation.js"></script>
            <script type="text/javascript" src="https://www.freshpep.com/js/scriptaculous/builder.js"></script>
            <script type="text/javascript" src="https://www.freshpep.com/js/scriptaculous/effects.js"></script>
            <script type="text/javascript" src="https://www.freshpep.com/js/scriptaculous/dragdrop.js"></script>
            <script type="text/javascript" src="https://www.freshpep.com/js/scriptaculous/controls.js"></script>
            <script type="text/javascript" src="https://www.freshpep.com/js/scriptaculous/slider.js"></script>
            <script type="text/javascript" src="https://www.freshpep.com/js/varien/js.js"></script>
            <script type="text/javascript" src="https://www.freshpep.com/js/varien/form.js"></script>
            <script type="text/javascript" src="https://www.freshpep.com/js/varien/menu.js"></script>
            <script type="text/javascript" src="https://www.freshpep.com/js/mage/translate.js"></script>
            <script type="text/javascript" src="https://www.freshpep.com/js/mage/cookies.js"></script>
            <script type="text/javascript" src="https://www.freshpep.com/js/aw_searchautocomplete/main.js"></script>
            <script type="text/javascript" src="https://www.freshpep.com/js/amasty/amscroll/amscroll.js"></script>
            <script type="text/javascript" src="https://www.freshpep.com/js/es_active_review_stars/jquery-1.8.2.min.js"></script>
            <script type="text/javascript" src="https://www.freshpep.com/js/es_active_review_stars/jquery.rating.js"></script>
            <script type="text/javascript" src="https://www.freshpep.com/js/es_active_review_stars/es_stars.js"></script>
            <script type="text/javascript" src="https://www.freshpep.com/js/jquery/jquery.js"></script>
            <script type="text/javascript" src="https://www.freshpep.com/js/jquery/bootstrap.min.js"></script>
            <script type="text/javascript" src="https://www.freshpep.com/js/jquery/jd.js"></script>
            <script type="text/javascript" src="https://www.freshpep.com/js/amasty/amshopby/amshopby.js"></script>
            <script type="text/javascript" src="https://www.freshpep.com/js/amasty/amshopby/jquery.min.js"></script>
            <script type="text/javascript" src="https://www.freshpep.com/js/amasty/amshopby/jquery-ui.min.js"></script>
            <script type="text/javascript" src="https://www.freshpep.com/js/amasty/amshopby/jquery.ui.touch-punch.min.js"></script>
            <script type="text/javascript" src="https://www.freshpep.com/js/amasty/amshopby/amshopby-jquery.js"></script>
            <script type="text/javascript" src="https://www.freshpep.com/js/amasty/amshopby/amshopby-ajax.js"></script>
            <script type="text/javascript" src="https://www.freshpep.com/skin/frontend/base/default/js/digitalpianism/ajaxlogin/script.js"></script>
            <script type="text/javascript" src="https://www.freshpep.com/skin/frontend/wd/freshpep/js/scripts.js"></script>
            <script type="text/javascript" src="https://www.freshpep.com/skin/frontend/wd/freshpep/js/jquery.flexslider.js"></script>
            <script type="text/javascript" src="https://www.freshpep.com/skin/frontend/wd/freshpep/js/jquery.selectric.js"></script>
            <script type="text/javascript" src="https://www.freshpep.com/skin/frontend/wd/freshpep/js/fixfooter.js"></script>
            <script type="text/javascript" src="https://www.freshpep.com/skin/frontend/wd/freshpep/js/noconflict.js"></script>
            <link rel="canonical" href="https://www.freshpep.com/produce.html" />       

        </head>


                
        <body>
                    
            <div class="topHeaderContainer">
                <div class="topHeader container">
                    <div class="topHeaderBlock"><img src="https://www.freshpep.com/skin/frontend/wd/freshpep/images/tag.png"><strong><span>10 TO 50% OFF</span></strong> Retail Prices</div>
                    <div class="topHeaderBlock"><img src="https://www.freshpep.com/skin/frontend/wd/freshpep/images/delievery-truck.png">No Delivery Charges</div>
                    <div class="topHeaderBlock"><img src="https://www.freshpep.com/skin/frontend/wd/freshpep/images/earn-money.png">Earn recurring money forever</div>
                    <div class="topHeaderBlock last">
                        <a href="javascript:void(0);" class="openpopup"><img src="https://www.freshpep.com/skin/frontend/wd/freshpep/images/freshpep.png"><span>Why Freshpep?</span></a>
                    </div>
                </div>
            </div>

            <div class="m-nav-container">
                <ul id="m_nav" class="nav navbar-nav navbar-mobile">
                    <li>
                        <div class="nav-div" style="border-right:1px solid #72655C"> <a href="https://www.freshpep.com/customer/account/login/referer/aHR0cHM6Ly93d3cuZnJlc2hwZXAuY29tL3Byb2R1Y2UuaHRtbA,,/">Sign in</a>
                        </div>
                        <div class="nav-div"> <a href="https://www.freshpep.com/customer/account/create/">Register</a>
                        </div>
                        <br clear="all" />
                    </li>
                        
                        <li class="produce"> <a href="https://www.freshpep.com/produce.html"> <span class="icon" style="background-image:url('https://www.freshpep.com/media/catalog/category/Produce.png')"></span> <span>Produce</span> </a> </li>
                        <li class="meat-seafood"> <a href="https://www.freshpep.com/meat-seafood.html"> <span class="icon" style="background-image:url('https://www.freshpep.com/media/catalog/category/Meat-_-Seafood.png')"></span> <span>Meat & Seafood</span> </a> </li>
                        <li class="dairy-eggs"> <a href="https://www.freshpep.com/dairy-eggs.html"> <span class="icon" style="background-image:url('https://www.freshpep.com/media/catalog/category/Inbox_1_1.png')"></span> <span>Dairy & Eggs</span> </a> </li>
                        <li class="ethnic-world"> <a href="https://www.freshpep.com/ethnic-world.html"> <span class="icon" style="background-image:url('https://www.freshpep.com/media/catalog/category/Ethnic-Food.png')"></span> <span>Ethnic World</span> </a> </li>
                        <li class="pantry"> <a href="https://www.freshpep.com/pantry.html"> <span class="icon" style="background-image:url('https://www.freshpep.com/media/catalog/category/Pantry.png')"></span> <span>Pantry</span> </a> </li>
                        <li class="baby-world"> <a href="https://www.freshpep.com/baby-world.html"> <span class="icon" style="background-image:url('https://www.freshpep.com/media/catalog/category/Baby-World_1.png')"></span> <span>Baby World</span> </a> </li>
                        <li class="beverages"> <a href="https://www.freshpep.com/beverages.html"> <span class="icon" style="background-image:url('https://www.freshpep.com/media/catalog/category/Beverages_1.png')"></span> <span>Beverages</span> </a> </li>
                        <li class="health-beauty"> <a href="https://www.freshpep.com/health-beauty.html"> <span class="icon" style="background-image:url('https://www.freshpep.com/media/catalog/category/Health-_-Beauty_1.png')"></span> <span>Health & Beauty</span> </a> </li>
                </ul>
            </div>



            <div class="white-bg">
                <div class="header-container header-main-nav container">
                    <div class="header-container-inn">
                                    
                        <div class="header visible-lg visible-md">
                                            
                            <a href="https://www.freshpep.com/" title="Freshpep" class="logo"> <strong>Freshpep</strong> <img src="https://www.freshpep.com/skin/frontend/wd/freshpep/images/logo.svg" alt="Freshpep" /> </a>
                                    
                            <div class="nav-search" id="nav-search">
                                <form id="search_mini_form" action="https://www.freshpep.com/catalogsearch/result/" method="get">
                                            
                                    <div class="form-search">
                                        <input id="search" type="text" name="q" value="" class="input-text" maxlength="128" placeholder="What are you looking for? Eg Dairy Products"/>
                                        <button type="submit" title="Search" class="search-button"></button>
                                        <div id="search_autocomplete" class="search-autocomplete"></div>
                                        <script type="text/javascript">        
                                            var searchForm = new Varien.searchForm('search_mini_form', 'search', 'What are you looking for? Eg Dairy Products');
                                                                searchForm.initAutocomplete('https://www.freshpep.com/catalogsearch/ajax/suggest/', 'search_autocomplete');
                                        </script>
                                    </div>
                                </form>
                            </div>
                                     

                            <div class="header-right">
                                <div class="main-links">
                                          
                                    <div class="area-select" style="display:none;">
                                    <select name="area" id="area"></select>
                                    </div>

                                    <div class="account-links" style="margin-top:12px;">
                                        <ul>
                                            
                                            <li class="join-club-nav">
                                                    <img src="https://www.freshpep.com/skin/frontend/wd/freshpep/images/try-price.png">
                                                    <span>Try Pro <i class="arrow-down"></i></span>
                                                    
                                                    <div class="join-club-div">
                                                        <div class="club-dropdown">
                                                            <h3>Avail the following Benefits</h3>
                                                            <h4>Get all of this for just $49.99</h4>
                                                            
                                                            <ul>
                                                            
                                                                <li>
                                                                    <img src="https://www.freshpep.com/skin/frontend/wd/freshpep/images/home-free-shipping-icon.png" alt="" />
                                                                    <div class="club-benefit-content">
                                                                        <p>Free Shipping</p>
                                                                    </div>
                                                                </li>
                                                                                
                                                                <li>
                                                                    <img src="https://www.freshpep.com/skin/frontend/wd/freshpep/images/home-cashback-icon.png" alt="" />
                                                                    
                                                                    <div class="club-benefit-content">
                                                                        <p>2% Cashback</p>
                                                                        <span>2% cashback on orders of $50 or more</span>
                                                                    </div>
                                                                </li>
                                                                                
                                                                <li>
                                                                    <img src="https://www.freshpep.com/skin/frontend/wd/freshpep/images/home-refer-earn-icon.png" alt="" />
                                                                        <div class="club-benefit-content">
                                                                            <p>Refer &amp; Earn</p>
                                                                            <span>1% cashback credit</span>
                                                                        </div>
                                                                </li>

                                                            </ul>
                                                                <a class="orange-btn" href="https://www.freshpep.com/commonfunction/Addprimemember/addtoPrime/spid/2599" title="Enroll for freshpep club">Enroll for freshpep Pro</a>
                                                        </div>
                                                    </div>
                                                
                                            </li>
                                                                                
                                            <li class="account drop-down-link"><a  href="javascript:void(0);" title="Log In" ><img src="https://www.freshpep.com/skin/frontend/wd/freshpep/images/user.png" alt="Sign in" title="Sign in"> <i class="arrow-down"></i></a>
                                                <ul class="drop-down-menu">
                                                    <li><a href="customer/getLoginUrl" title="Log In" class="ajaxlogin-login">Log In</a></li>
                                                    <li><a href="javascript:void(0);" title="Registration" name="noaccount" id="noaccount">Register</a></li>
                                                </ul>
                                            </li>
                                                                        
                                                
                                                
                                            <li class="basket"><a class="top-cart-link" href="https://www.freshpep.com/checkout/cart/"> 
                                                  <span class="ico ico-basket">
                                                        <span>0</span>                  
                                                  </span>
                                                 </a>
                                            </li>  
                                            
                                            </ul>

                                          </div>
                                        </div>
                                      </div>
                                    </div>      
                                </div>
                                
                                <nav class="navbar navbar-default visible-xs visible-sm" role="navigation">
                                  <div class="">
                                    <div class="navbar-header">
                                      <div class="row">
                                        <div class="col-xs-4 col-sm-5 m-header-left"> <a class="visible-xs visible-sm" href="https://www.freshpep.com/"><img class="nav-s-logo" src="https://www.freshpep.com/skin/frontend/wd/freshpep//images/logo.svg" width="70" /></a> </div>
                                        <div class="col-xs-8 col-sm-7 m-header-right">
                                          <ul class="m-nav">
                                            <li class="m-account-l">
                                              
                                              <div class="m-search visible-sm">
                                                <form id="search_mini_form" action="https://www.freshpep.com/catalogsearch/result/" method="get">
                                    
                                                    <div class="form-search">
                                                        <input id="search" type="text" name="q" value="" class="input-text" maxlength="128" placeholder="What are you looking for? Eg Dairy Products"/>
                                                        <button type="submit" title="Search" class="search-button"></button>
                                                        <div id="search_autocomplete" class="search-autocomplete"></div>
                                                        <script type="text/javascript">        
                                                            var searchForm = new Varien.searchForm('search_mini_form', 'search', 'What are you looking for? Eg Dairy Products');
                                                            searchForm.initAutocomplete('https://www.freshpep.com/catalogsearch/ajax/suggest/', 'search_autocomplete');        
                                                        </script>
                                                    </div>
                                                </form>
                                              </div>

                                              <a href="javascript:void(0);" data-toggle="collapse" data-target="#m_row" class="m-nav-account visible-xs"><span class="ico ico-search"></span></a> </li>
                                            <li class="basket"> <a class="top-link top-link-cart" href="https://www.freshpep.com/checkout/cart/"><span class="ico ico-basket"><b>0</b></span> <span class="top_cart text"> Items</span></a> </li>
                                            <li class="visible-xs visible-sm">
                                              <button type="button" class="top-link top-link-button" onclick="m_nav(this)"> <span class="sr-only">Toggle navigation</span> <span class="bar"></span> <span class="bar"></span> <span class="bar"></span> </button>
                                            </li>
                                          </ul>
                                        </div>
                                      </div>
                                      <div class="row collapse" id="m_row">
                                        <div class="col-xs-12">
                                          <div class="m-search">
                                            
                                            <form id="search_mini_form" action="https://www.freshpep.com/catalogsearch/result/" method="get">
                                                <div class="form-search">
                                                           <input id="search" type="text" name="q" value="" class="input-text" maxlength="128" placeholder="What are you looking for? Eg Dairy Products"/>
                                                    <button type="submit" title="Search" class="search-button"></button>
                                                    <div id="search_autocomplete" class="search-autocomplete"></div>
                                                    <script type="text/javascript">        
                                                        var searchForm = new Varien.searchForm('search_mini_form', 'search', 'What are you looking for? Eg Dairy Products');
                                                        searchForm.initAutocomplete('https://www.freshpep.com/catalogsearch/ajax/suggest/', 'search_autocomplete');        
                                                    </script>
                                                </div>
                                            </form>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                    
                                </div>
                            </nav>
                        </div>
                    </div>



                <div class="main-nav-container visible-lg visible-md" style="padding:0px;">
                    <div class="">
                        <div class="container">
                            <div class="main-nav">
                                <ul>
                                    <li class="active"> <a href="https://www.freshpep.com/produce.html">  <span class="icon" style="background-image:url('https://www.freshpep.com/media/catalog/category/Produce.png')"></span><span class="title">Produce</span> </a> </li>
                                    <li > <a href="https://www.freshpep.com/meat-seafood.html">  <span class="icon" style="background-image:url('https://www.freshpep.com/media/catalog/category/Meat-_-Seafood.png')"></span><span class="title">Meat & Seafood</span> </a> </li>
                                    <li > <a href="https://www.freshpep.com/dairy-eggs.html">  <span class="icon" style="background-image:url('https://www.freshpep.com/media/catalog/category/Inbox_1_1.png')"></span><span class="title">Dairy & Eggs</span> </a> </li>
                                    <li > <a href="https://www.freshpep.com/ethnic-world.html">  <span class="icon" style="background-image:url('https://www.freshpep.com/media/catalog/category/Ethnic-Food.png')"></span><span class="title">Ethnic World</span> </a> </li>
                                    <li > <a href="https://www.freshpep.com/pantry.html">  <span class="icon" style="background-image:url('https://www.freshpep.com/media/catalog/category/Pantry.png')"></span><span class="title">Pantry</span> </a> </li>
                                    <li > <a href="https://www.freshpep.com/baby-world.html">  <span class="icon" style="background-image:url('https://www.freshpep.com/media/catalog/category/Baby-World_1.png')"></span><span class="title">Baby World</span> </a> </li>
                                    <li > <a href="https://www.freshpep.com/beverages.html">  <span class="icon" style="background-image:url('https://www.freshpep.com/media/catalog/category/Beverages_1.png')"></span><span class="title">Beverages</span> </a> </li>
                                    <li > <a href="https://www.freshpep.com/health-beauty.html">  <span class="icon" style="background-image:url('https://www.freshpep.com/media/catalog/category/Health-_-Beauty_1.png')"></span><span class="title">Health & Beauty</span> </a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>









    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <a href="/" class="foot-logo"><img src="https://www.freshpep.com/skin/frontend/wd/freshpep/images/foot-logo.png" alt="" /></a>
                    <p>The freshest organic groceries delivered right to your door.</p>
                    
                    <ul class="site-add">
                        <li class="location">
                            <p>Freshpep,Inc<br />43270, CHRISTY STREET<br />Fremont<br />CA - 94538</p>
                        </li>
                        
                        <li class="phone">
                            <a href="tel:14158859514">1 415 885 9514</a>
                        </li>

                    </ul>
                </div>

                <div class="col-md-1"></div>
                <div class="col-sm-3 col-md-2">
                    <h3 class="widget-title">Information</h3>
                        <ul class="foot-menu">
                            <li><a href="https://www.freshpep.com/about-us/">About Us</a></li>
                            <li><a href="https://www.freshpep.com/contacts/">Contact Us</a></li>
                            <li><a href="https://www.freshpep.com/careers/">Careers</a></li>
                            <li><a href="https://www.freshpep.com/suggestion/">Suggestions</a></li>
                            <li><a href="https://www.freshpep.com/ng_customer/index/customerfaq/">FAQs</a></li>
                            <li><a href="https://www.freshpep.com/blog/">Blog</a></li>
                            <li><a href="https://www.freshpep.com/affiliations/">Affiliations</a></li>
                            <li><a href="https://www.freshpep.com/admin_certificate/">Certifications</a></li>
                            <li><a href="https://www.freshpep.com/privacy-policy/">Terms & Privacy</a></li>
                        </ul>
                </div>
                
                <div class="col-sm-3 col-md-2">
                    <h3 class="widget-title">Categories</h3>
                        <ul class="foot-menu">
                            <li> <a href="https://www.freshpep.com/produce.html">Produce</a></li>
                            <!--li><a href=""></a></li-->
                            <li> <a href="https://www.freshpep.com/meat-seafood.html">Meat & Seafood</a></li>
                            <!--li><a href=""></a></li-->
                            <li> <a href="https://www.freshpep.com/dairy-eggs.html">Dairy & Eggs</a></li>
                            <!--li><a href=""></a></li-->
                            <li> <a href="https://www.freshpep.com/ethnic-world.html">Ethnic World</a></li>
                            <!--li><a href=""></a></li-->
                            <li> <a href="https://www.freshpep.com/pantry.html">Pantry</a></li>
                            <!--li><a href=""></a></li-->
                            <li> <a href="https://www.freshpep.com/baby-world.html">Baby World</a></li>
                            <!--li><a href=""></a></li-->
                            <li> <a href="https://www.freshpep.com/beverages.html">Beverages</a></li>
                            <!--li><a href=""></a></li-->
                            <li> <a href="https://www.freshpep.com/health-beauty.html">Health & Beauty</a></li>
                            <!--li><a href=""></a></li-->
                        </ul>
                </div>
                    
                <div class="col-sm-3 col-md-offset-1 col-md-3">
                    <h3 class="widget-title">Sign Up Newsletter</h3>
                        <p>Subscribe now and get 5% OFF</p>
                            <form class="newsletter-form">
                                <input type="email" placeholder="Enter your email address" />
                                <input type="submit" /> 
                            </form>
                        
                        <h3 class="widget-title">Follow Us On</h3>
                            <ul class="social-links">
                                <!--<li class="pintrest"><a title="Pintrest" href="#"></a></li>-->
                                <li class="facebook"><a title="Facebook" href="https://www.facebook.com/freshpep" target="_blank"></a></li>
                                <li class="twitter"><a title="Twitter" href="https://twitter.com/freshpepinc" target="_blank"></a></li>
                                                    <!--<li class="gplus"><a title="Google Plus" href="#"></a></li>-->
                                <li class="instagram"><a title="Instagram" href="#"></a></li>
                            </ul>
                </div>

            </div>
                    
            
            <div class="row row-gap">
                <div class="col-sm-12">
                    <h3 class="widget-title">Popular Searches</h3>
                        <ul class="popular-list">
                                                    <li><a href="https://www.freshpep.com//catalogsearch/result/?q=hodo">Hodo</a></li>      
                                                    <li><a href="https://www.freshpep.com//catalogsearch/result/?q=organic">Organic</a></li>        
                                                    <li><a href="https://www.freshpep.com//catalogsearch/result/?q=earth">Earth</a></li>        
                                                    <li><a href="https://www.freshpep.com//catalogsearch/result/?q=rice">Rice</a></li>      
                                                    <li><a href="https://www.freshpep.com//catalogsearch/result/?q=earth's best">Earth's best</a></li>      
                                                    <li><a href="https://www.freshpep.com//catalogsearch/result/?q=milk">Milk</a></li>      
                                                    <li><a href="https://www.freshpep.com//catalogsearch/result/?q=baby food">Baby food</a></li>        
                                                    <li><a href="https://www.freshpep.com//catalogsearch/result/?q=apple">Apple</a></li>        
                                                    <li><a href="https://www.freshpep.com//catalogsearch/result/?q=green">Green</a></li>        
                                                    <li><a href="https://www.freshpep.com//catalogsearch/result/?q=Honey">Honey</a></li>        
                                                    <li><a href="https://www.freshpep.com//catalogsearch/result/?q=Straus">Straus</a></li>      
                                                    <li><a href="https://www.freshpep.com//catalogsearch/result/?q=tomato">Tomato</a></li>      
                                                    <li><a href="https://www.freshpep.com//catalogsearch/result/?q=cheese">Cheese</a></li>      
                                                    <li><a href="https://www.freshpep.com//catalogsearch/result/?q=vanilla">Vanilla</a></li>        
                                                    <li><a href="https://www.freshpep.com//catalogsearch/result/?q=onion">Onion</a></li>        
                                                    <li><a href="https://www.freshpep.com//catalogsearch/result/?q=kale">Kale</a></li>      
                                                    <li><a href="https://www.freshpep.com//catalogsearch/result/?q=lotus">Lotus</a></li>        
                                                    <li><a href="https://www.freshpep.com//catalogsearch/result/?q=sugar">Sugar</a></li>        
                                                    <li><a href="https://www.freshpep.com//catalogsearch/result/?q=hodo soy">Hodo soy</a></li>      
                                                    <li><a href="https://www.freshpep.com//catalogsearch/result/?q=eggs">Eggs</a></li>      
                                                    <li><a href="https://www.freshpep.com//catalogsearch/result/?q=cabbage">Cabbage</a></li>        
                                                    <li><a href="https://www.freshpep.com//catalogsearch/result/?q=lettuce">Lettuce</a></li>        
                                                    <li><a href="https://www.freshpep.com//catalogsearch/result/?q=chard">Chard</a></li>        
                                                    <li><a href="https://www.freshpep.com//catalogsearch/result/?q=mushroom">Mushroom</a></li>      
                                                    <li><a href="https://www.freshpep.com//catalogsearch/result/?q=What are you looking for? Eg Dairy Products">What are you looking for? Eg Dairy Products</a></li>        
                        </ul>
                </div>
            </div>
                    
                    
            <div class="copyright">
                <div class="row">
                            <!--<div class="col-sm-2">&copy;Freshpep 2016</div>-->
                            <!--<div class="col-sm-2 pull-right"><a class="pull-right" href="https://www.freshpep.com/privacy-policy/" title="Terms &amp; Privacy">Terms &amp; Privacy</a></div>-->
                    <div class="col-sm-12">
                        <p>&copy;2016-2017 by Freshpep Inc <span class="pull-right">We accept <img alt="" src="https://www.freshpep.com/skin/frontend/wd/freshpep/images/payment-cards.png"></span></p>
                    </div>
                </div>
            </div>
        </div>
     
    </footer>            








                </body>


        </html>