/*======================================================================
  Selectric
======================================================================*/
.selectricWrapper { position: relative; margin: 0 ; cursor: pointer; }
.selectricResponsive { width: 100%; }
.selectric {  background: #f3efea; position: relative; border-radius: 0px; }
.selectric .label { display: block; white-space: nowrap; overflow: hidden; margin: 0 30px 0 0; padding: 6px 15px; font-size: 14px; color: #333; line-height: 26px; min-height: 26px; text-align:left;}
.selectric .button { display: block; position: absolute; right: 0; top: 0; width: 38px; height:38px; color: #BBB; text-align: center; font: 0/0 a;   /* IE Fix */
  *font: 20px/30px Lucida Sans Unicode, Arial Unicode MS, Arial;
}
.selectric .button:after { content: " "; position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; width: 0; height: 0; border: 7px solid transparent; border-top-color: #333; border-bottom: none; }
.selectricHover .selectric { border-color: #CCC; }
.selectricHover .selectric .button { color: #888; }
.selectricHover .selectric .button:after { border-top-color: #888; }
.selectricOpen { z-index: 9999; }
.selectricOpen .selectric { border-color: #CCC; background: #F3EFEA;}
.selectricOpen .selectric .label, .selectricHover .selectric .label{color: #4d443e;} 
.selectricOpen .selectricItems { display: block; }
.selectricDisabled { filter: alpha(opacity=50); opacity: 0.5; cursor: default; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.selectricHideSelect { position: relative; overflow: hidden; width: 0; height: 0; }
.selectricHideSelect select { position: absolute; left: -100%; display: none; }
.selectricInput { position: absolute !important; top: 0 !important; left: 0 !important; overflow: hidden !important; clip: rect(0, 0, 0, 0) !important; margin: 0 !important; padding: 0 !important; width: 1px !important; height: 1px !important; outline: none !important; border: none !important;  *font: 0/0 a !important;
background: none !important; }
.selectricTempShow { position: absolute !important; visibility: hidden !important; display: block !important; }
/* Items box */
.selectricItems { display: none; position: absolute; top: 100%; left: 0; background: #fff;  z-index: -1; box-shadow:0 1px 5px #dddddd; }
.selectricItems .selectricScroll { height: 100%; overflow: auto; }
.selectricAbove .selectricItems { top: auto; bottom: 100%; }
.selectricItems ul, .selectricItems li { list-style: none; padding: 0; margin: 0; font-size: 14px; line-height: 20px; min-height: 20px; }
.selectricItems li { display: block; padding: 5px 15px; color: #4d443e; cursor: pointer; }
.selectricItems li.selected { background: #f6f6f6;  color: #4d443e; border-top-color: #E0E0E0; }
.selectricItems li:hover { background: #eeeae7; color: #4d443e; }
.selectricItems li.disabled { background: #F5F5F5; color: #BBB; border-top-color: #FAFAFA; cursor: default; }
